form > input,
label,
button,
textarea {
  margin: 0.5em;
}

fieldset {
  position: relative;
}

form .ingredients {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.4rem;
  position: relative;
}

.ingredients > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.4rem;
}

#plus {
  margin: 1rem;
  position: absolute;
  right: 0;
  padding: 15px;
}

#less {
  margin: 1rem;
  position: absolute;
  left: 0;
  padding: 15px;
}

.delForm {
  margin: 1.5rem 0;
}
