{% extends 'layouts/base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/form-styles.css')}}">
<title>RecipeDB - Add recipe</title>

{% endblock %}


{% block body %}

<p><b>{{message}}</b></p>

<form action="#" method="post" id="handlingForm">
    
    <label for="recipe_name">Name</label>
    <input type="text" name="name" id="recipe_name">

    <label for="instructions">Instructions</label>
    <textarea name="instructions" id="instructions"></textarea>

    <label for="recipe_picture_url">Picture URL</label>
    <input type="text" name="picture_url" id="recipe_picture_url">

    <fieldset class="ingredients">
        <legend>Add ingredients</legend>
            <div>
                <label for="amount0">Amount</label>
                <input type="text" name="amount0" id="amount0">
            </div>
            <div>
                <label for="ingredient0">Ingredient</label> 
                <input type="text" name="ingredient0" id="ingredient0">
            </div>
        <button type="button" id="plus">+</button>
        <!-- <button type="button" id="less">-</button> -->
    </fieldset>

    <input type="hidden" name="modified_date" value="{{date}}">
    <input type="hidden" name="ingredients" id="ingredients">
    <input type="hidden" name="amounts" id="amounts">

    <button type="submit"> Add meal </button>

</form>

{% endblock %}

{% block afterbody %}

<script src="{{ url_for('static', filename='js/multiple-ingredients.js') }}"></script>

{% endblock %}
