{% extends 'layouts/base.html' %}

{% block head %}

<style>
    form > input,
label,button {
  margin: 0.5em;
}
</style>

<title>RecipeDB - Index</title>

{% endblock %}


{% block body %}

<div>
    <b>{{message}}</b>
</div>

<h2>Find a recipe</h2>
<form action="/recipes" method="get" class="search-bar">
    <legend> Type a recipe name or an ingredient name: </legend>
    <input type="search" name="term" placeholder ="Big Mac">
    <button type="submit">Find Meal</button>
</form>

<h2>Add a recipe</h2>
<form action="/add-recipe" method="get">
    <input type="submit" value="Add Meal" />
</form>

{% endblock %}
